

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    position: relative;
    min-height: 100%;
  
  }
  
  .container{
  
    width: 100%;
    max-width:1300px;
    margin: 0 auto; 
  }
  
  
  .navbar{
  
    width: 100%;
    height: 80px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 15px 0 15px 0;
    background: #fff;
  
  }
  

  .dropbtn {
    
    color: #424ECC;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px; 
    line-height: 35px;
    display: inline-block;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 3px solid #424ECC;
    text-align: center;
    margin-right: 20px;  
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    
  
  }
  
  .dropbtn:hover {
    background-color: #424ECC;
    color: #fff;
  }  

  .dropdown .dropbtn i{
    font-size: 20px;
    margin-right: 10px;
    color: #424ECC;
    transition: color 0.45s ease;
  }
  .dropdown .dropbtn:hover i{
    color: #ffffff;
  }



  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  /* LOGO */
    
    .navbar .logo{
  
      width: 50px;
      padding-left: 20px;
    }
    
    /* NAVIGATION */
  
    .navbar ul{
  
      list-style: none;
      margin:0 auto;
      bottom: 50%;
      transform: translateY(50%);
      float: right;
     
    }
    
    .navbar ul li{
      display: inline-block;
      margin: 0;
      padding-right: 40px;
  
    }
  
    .navbar ul li a{
  
      font-family: Montserrat;
      font-style: normal;
      font-size: 20px;
      font-weight: 600;
      color: #141415;
      text-decoration: none;
      transition: 0.45s all;
  
    
    }
  
    .navbar ul li a:hover{
  
      color: #424ECC;
  
    }
   
     .nav-link::after{
      content: '';
      display: block;
      width: 0%;
      height: 4px;
      background-color: #424ECC;
      transition: width .3s;
    }
  
    .nav-link:hover::after{
      
      width: 100%;
      transition: width .3;
    } 
  
  
    .navbar ul .button4{
  
  
      color: #ffffff;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px; 
      line-height:40px;
      display: inline-block;
      border-radius: 5px;
      background-color: #424ECC;
      border: none;
      /* margin-top: 10px;  */
      margin-right: 20px; 
      width: 250px;
      transition: all 0.5s;
      cursor: pointer;
      
    
    }
    
    .navbar ul .button4:hover {
      background-color: #424ECC;
      color: white;
      transform: scale(1.05);
    }

  
  .navbar ul .button1{
  
  
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; 
    line-height: 40px;
    display: inline-block;
    border-radius: 5px;
    background-color: #424ECC;
    border: none;
    text-align: center;
    margin-right: 20px;  
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    
  
  }
  
  .navbar ul .button1:hover {
    background-color: #424ECC;
    color: white;
    transform: scale(1.05);
  }
  

  .clear{
    clear: both;
  }
  
  .navbar-mobile{
  
    display: none;
  }
  
  /* HERO */
  
  .hero {
  
     
    background-image: url(../img/Hero-Cover.jpg);
    background-size: cover;
    background-position: 20%;
    width: 100%;
    height: calc(100vh - 110px);
    margin-bottom: 0px;
     
  }
  
  
  .hero .hero-center{
   
  width: 50%;
  height: calc(100vh - 110px);
  text-align: left;
  position: relative;
  
  }
  
  .hero .hero-center .info{
  position:absolute;
  width: 100%;
  top:50%;
  transform: translateY(-50%);
  padding-left: 20px;
  
  }
  
  .hero .hero-center .info .tags{
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 73px;

  }
  
  .hero .hero-center .info .Title{
  color: #141415;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  
  }
  
  .hero .hero-center .info .description1{
  
    text-align: left;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;

  }

  
/*  /////////// PHOTOSHOP INTRO/////// */

.process{

  font-family: 'Montserat', monospace ;  
  background: #ECEDF9;
  width: 100%;
  height: auto;


}


.process .title2{
  color: #424ECC;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;


  }
  
  .process .sub_titile{
    
    text-align: left;
    color: #141415;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;

    }


  .process .sub_titile2{
    
    text-align: left;
    color: #141415;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 60px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;

    }
    
    
.process .intro{

    text-align: left;
    color: #141415;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding-top: 16px;
    /* padding-bottom: 45px; */
    padding-left: 20px;
    padding-right: 20px;


  }

  .process .intro2{

    text-align: left;
    color: #141415;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 90px;
    padding-left: 20px;
    padding-right: 20px;


  }

 
/*/////////// PHOTOSHOP WORK ////////// */

  .photoshop-work{
    font-family: 'Montserat', monospace ;  
    background-color:#ffffff;
    padding: 0px;
    width: 100%;
    height: auto;
  
  }
  
  .photoshop-work .title{
    color: #424ECC;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    padding: 90px 20px 64px 20px;
    }
  

/* boxes */

.photoshop-slider-mobile{
  display: none;
}

.boxes{


  width: 100%;
  height: auto;
  display: block;
  background-color:#FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  position: relative;
  
}

.Slide2show-container{

  display: none;
}

/* ///////////// GRID /////////// */

.w3-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 80vh;
  height: auto;
  background-repeat: no-repeat;
}


.w3-red, .w3-hover-red:hover {
  color: #fff!important;
  background-color: #424ECC!important;
}


.boxes .photoshop1-box {

  width: 63%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop1-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  opacity: 0;
   
} 

 .boxes .photoshop1-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop1-box img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop1-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop2-box {


  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop2-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop2-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  



 .boxes .photoshop2-box img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop2-box img:hover {

  opacity: 0.15;
  
}  


.boxes .photoshop3-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;


}


.boxes .photoshop3-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop3-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop3-box img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop3-box img:hover {

  opacity: 0.15;
  
} 


 .boxes .photoshop1-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop2-box-mobile{
  
  display: none;
  
 }
 
 .boxes .photoshop3-box-mobile{
  
  display: none;
  
 }
  
.boxes .photoshop4-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;


}

.boxes .photoshop4-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop4-box:hover .text i{
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop4-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop4-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop5-box {


  width: 63%;
  height: 358x;
  display: block;
  float: left;
  margin-left: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop5-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop5-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop5-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop5-box img:hover {

  opacity: 0.15;
  
}  


.boxes .photoshop6-box {

  width: 63%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop6-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop6-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop6-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop6-box img:hover {

  opacity: 0.15;
  
} 



 .boxes .photoshop4-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop5-box-mobile{
  
  display: none;
  
 }
 

 .boxes .photoshop6-box-mobile{
  
  display: none;
  
 }
  



.boxes .photoshop7-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop7-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop7-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop7-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop7-box img:hover {

  opacity: 0.15;
  
} 


.clear{

  clear: both;

}

.boxes .photoshop8-box {


  width: 30%;
  height: auto;
  display: block;
  float: left;
  /* margin-right: 40px; */
  margin-left: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;


}


.boxes .photoshop8-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop8-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  



 .boxes .photoshop8-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;


 }

 .boxes .photoshop8-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop9-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

  
}


.boxes .photoshop9-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop9-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop9-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;
 }

 .boxes .photoshop9-box img:hover {

  opacity: 0.15;
  
} 


 .boxes .photoshop7-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop8-box-mobile{
  
  display: none;
  
 }
 

 .boxes .photoshop9-box-mobile{
  
  display: none;
  
 }


 
.boxes .photoshop10-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop10-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  opacity: 0;
   
} 

 .boxes .photoshop10-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop10-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop10-box img:hover {

  opacity: 0.15;
  
} 


.clear{
  clear: both;
}



.boxes .photoshop11-box {


  width: 46.5%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop11-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop11-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  



 .boxes .photoshop11-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop11-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop12-box {

  width: 46.5%;
  height: auto;
  display: block;
  float: left;
  /* margin-left: 20px; */
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;


}


.boxes .photoshop12-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop12-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop12-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;


 }

 .boxes .photoshop12-box img:hover {

  opacity: 0.15;
  
} 



 .boxes .photoshop10-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop11-box-mobile{
  
  display: none;
  
 }
 

 .boxes .photoshop12-box-mobile{
  
  display: none;
  
 }
  

.clear{

  clear: both;

}


.boxes .photoshop13-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;


}


.boxes .photoshop13-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop13-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop13-box img{

  width: 100%;
  height: 756px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop13-box img:hover {

  opacity: 0.15;
  
} 



.boxes .photoshop14-box {


  width: 63%;
  height: auto;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop14-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop14-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop14-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop14-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop15-box {

  width: 63%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop15-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop15-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .boxes .photoshop15-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop15-box img:hover {

  opacity: 0.15;
  
} 


 .boxes .photoshop13-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop14-box-mobile{
  
  display: none;
  
 }
 

 .boxes .photoshop15-box-mobile{
  
  display: none;
  
 }
  

.clear{

  clear: both;

}


.boxes .photoshop16-box {

  width: 63%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop16-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop16-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop16-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop16-box img:hover {

  opacity: 0.15;
  
} 

.boxes .photoshop17-box {


  width: 30%;
  height: auto;
  display: block;
  float: right;
  margin-right: 30px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}


.boxes .photoshop17-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop17-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop17-box img{

  width: 100%;
  height: 756px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

}

 .boxes .photoshop17-box img:hover {

  opacity: 0.15;
  
} 


.boxes .photoshop18-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 90px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  
}

.boxes .photoshop18-box .text i{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:45px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop18-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop18-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop18-box img:hover {

  opacity: 0.15;
  
} 


 .boxes .photoshop16-box-mobile{
   
  display: none;
  
 }

 .boxes .photoshop17-box-mobile{
  
  display: none;
  
 }
 

 .boxes .photoshop18-box-mobile{
  
  display: none;
  
 }
  

.boxes .photoshop19-box {

  width: 30%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;

}

.boxes .photoshop19-box .text i {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .boxes .photoshop19-box:hover .text i{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:45px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;

}  

 .boxes .photoshop19-box img{

  width: 100%;
  height: 358px;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .boxes .photoshop19-box img:hover {

  opacity: 0.15;
  
} 

.boxes .photoshop19-box-mobile{
  
  display: none;
  
 }

.clear{

  clear: both;

}

 
/*////// ADDITIONAL WORKS //////// */

.additional-work{
  font-family: 'Montserat', monospace ;  
  background-color:#ECEDF9;
  padding: 0px;
  width: 100%;
  height: auto;

}

.additional-work .title-work{
  color: #424ECC;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  padding: 90px 20px 64px 20px;
  }


/* additional-boxes */

.additional-boxes{


  width: 100%;
  height: auto;
  display: block;
  background-color:#ECEDF9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;

  
}

.Slide2show-container{

  display: none;
}


.additional-boxes .project-box {

  width: 30%;
  height: 321px;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 90px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}


.additional-boxes .project-box .text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  opacity: 0;
   
} 

 .additional-boxes .project-box:hover .text{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  font-size:26px;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .additional-boxes .project-box img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;

 }

 .additional-boxes .project-box img:hover {

  opacity: 0.15;
  
} 


.additional-boxes .project-box-2 {


  width: 30%;
  height: 321px;
  display: block;
  float: left;
  margin-right: 40px;
  margin-bottom: 90px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}


.additional-boxes .project-box-2 .text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:26px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .additional-boxes .project-box-2:hover .text{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .additional-boxes .project-box-2 img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 
  border-radius: 5px;


 }

 .additional-boxes .project-box-2 img:hover {

  opacity: 0.15;
  
} 


.additional-boxes .project-box-3 {

  width: 30%;
  height: 321px;
  display: block;
  float: left;
  margin-bottom: 90px;
  position: relative;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
}


.additional-boxes .project-box-3 .text {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:26px;
  color: #FFFFFF;
  opacity: 0;
   
} 

 .additional-boxes .project-box-3:hover .text{
  
  
  font-style: bold;
  font-weight: 600;
  opacity: 1;
  color: #FFFFFF;
  transition: opacity 0.45s ease;


}  

 .additional-boxes .project-box-3 img{

  width: 100%;
  height: auto;
  opacity: 0.9; 
  transition: opacity 0.45s ease;
  background-repeat: no-repeat;
  background-size: contain; 

 }

 .additional-boxes .project-box-3 img:hover {

  opacity: 0.15;
  
} 

 .additional-boxes .project-box-mobile{
   
  display: none;
  
 }

 .additional-boxes .project-box-2-mobile{
  
  display: none;
  
 }
 

 .additional-boxes .project-box-3-mobile{
  
  display: none;
  
 }
  

.clear{

  clear: both;

}

  /* /////////// Footer ///////////// */
  
  .footer{
  
   position: absolute;
   background-color: #141415;
   width: 100%;
  height: auto;
  
  }
  .footer .info{
  
  padding-top: 90px;
  position: relative;
  text-align: center;
  
  }
  
  .footer .info .title{
   color: #424ECC;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 800;
   font-size: 60px;
   line-height: 73px;
   padding-bottom: 45px;
   padding-left:20px;
   padding-right: 20px;
  
   }
   
  .footer .info .Desc {
  
     color:#ffffff;
     font-family: Open Sans;
     margin: 0 64px 64px 64px;
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 30px; 
   }
  
  
   .footer .info .button2{
  
    color: #ffffff;
    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
    display: inline-block;
    border-radius: 5px;
    background-color: #424ECC;
    border: none;
    text-align: center;
    font-size: 25x;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
  
  }
  
  .footer .info .button2:hover {
    background-color: #424ECC;
    color: white;
    transform: scale(1.05);
  
  } 
  
  
   .footer .info .Desc-time{
  
     color: #ffffff;
     margin-top: 0px;
     margin-bottom: 64px;
     font-family: Open Sans;
  
     font-style: normal;
     font-weight: 200;
     font-size: 18px;
     line-height: 30px; 
   
   }
  
   .footer .info .social{
  
     color: #fff;
     margin-bottom: 32px;
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 30px; 
     padding: 0px 15px 0px 15px;
   }
  
   .footer .info .social i{
     font-size: 32px;
     color: #fff;
     padding: 0 32px;
   }
  
   .footer .info .social i:hover {
   
    color: #424ECC;
    cursor: pointer;
    transform: scale(1.05);
  
  }
  
  .footer .info .copyright{
  
     font-family: Montserrat;
     color: #ffffff;
     margin-top: 60px;
     margin-bottom: 0px;
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 30px; 
     padding: 20px;
   } 
  
  
    /* Back to top */
  
    #myBtn {
      display: none;
      position:fixed;
      bottom: 20px;
      right: 20px;
      z-index: 0;
      font-size: 30px;
      border: none;
      outline: none;
      background-color:#424ECC;
      color: white;
      cursor: pointer;
      padding: 0px 12px;
      border-radius: 5px;
    }
    
    #myBtn:hover {
  
      color: #fff;
      cursor: pointer;
      transform: scale(1.05);
    }
  
  
  
   /* -----------------------------------------------RESPONSIVE SCREEN --------------------------------------------------*/
  
  
  
  @media  screen and (max-width:1250px){
  
  
/*///////////////// HERO //////////////////// 1300px */
 
  
.hero {
  
  width: initial;
  height: auto;
}

.hero .hero-center{

  width: 67%;
}


.hero .hero-center .info {

  width: 100%;
  height: auto;

}

.introduction {

  padding-left: 20px;
  padding-right: 20px;

}



/*///////////////// PHOTOSHOP INTRODUCTION //////////////////// 1300px */


.process .title2 {
    font-size: 50px;
    padding-top: 64px;
  }
  

.process .sub_titile-2{

  font-size: 26px;
}
.process .description1{

  font-size: 20px;
}

.process .description2{
 
  font-size: 20px;
  padding-bottom: 64px;

  }

  .process .sub_titile{

    font-size: 28px;
    padding-top: 0px;
  }

  .process .intro{

    font-size: 20px;
    padding-bottom: 0px;
  }

  .process .intro2{

    font-size: 20px;
  }

  .process .button4{

    margin-bottom: 64px;
  }

  

/* ///////////////////////// PHOTOSHOP WORK //////////////////////////////////////// 1300px */
  
.photoshop-work .title{

  font-size:50px;
  padding:64px 20px 45px 20px;
}


.boxes .photoshop1-box{

  width: 62%;
  height: initial;
  margin-bottom: 0px;
}


.boxes .photoshop2-box, .boxes .photoshop3-box {

    width: 29%;
    height: initial;
}

.boxes .photoshop2-box img, .boxes .photoshop3-box img{

  height: auto;
}


.boxes .photoshop4-box{

  width: 29%;
  height: initial;
 
}

.boxes .photoshop4-box img{

  height: auto;

}

.boxes .photoshop5-box{

  width: 62%;
  height: initial;
 
}

.boxes .photoshop5-box img{

  height: auto;

}

.boxes .photoshop6-box{

  width: 62%;
  height: initial;
 
}

.boxes .photoshop6-box img{

  height: auto;

}


.boxes .photoshop7-box{

  width: 29%;
  height: initial;
}

.boxes .photoshop7-box img{

height: auto;

}

.boxes .photoshop8-box, .boxes .photoshop9-box, .boxes .photoshop10-box{

  width: 29%;
  height: initial;
}

.boxes .photoshop8-box img, .boxes .photoshop9-box img, .boxes .photoshop10-box img{

height: auto;

}


.boxes .photoshop11-box, .boxes .photoshop12-box{

  width: 45.5%;
  height: initial;
}

.boxes .photoshop11-box img, .boxes .photoshop12-box img{

height: auto;

}

.boxes .photoshop13-box{

  width: 29.8%;
 height: initial;

}

.boxes .photoshop13-box img{

height: auto;

}

.boxes .photoshop14-box, .boxes .photoshop15-box{

  width: 61.5%;
  height: initial;
}

.boxes .photoshop14-box img, .boxes .photoshop15-box img{

height: auto;

}

.boxes .photoshop16-box{

  width: 62%;
  height: initial;
 
}

.boxes .photoshop16-box img{

  height: auto;

}

.boxes .photoshop17-box{

  width: 29.8%;
 height: initial;

}

.boxes .photoshop17-box img{

height: auto;

}


.boxes .photoshop18-box, .boxes .photoshop19-box {

  width: 29%;
  height: initial;
}

.boxes .photoshop18-box img, .boxes .photoshop19-box img {

height: auto;

}



/* ///////////////////////// Other Case Studies //////////////////////////////////////// 1300px */


.additional-work .title-work {


  padding-top: 64px;
  padding-bottom: 45px;
  font-size: 50px;
  background-color: #FFFFFF;
}


.additional-boxes{

  width: 100%;
  height: auto;
  background-color: #FFFFFF;
}

.Slide2show-container{

  display: none;
}

.additional-boxes .project-box {
  width: 29%;
  height: auto;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 64px;
  position: relative;
  text-align: center;
  background-color: #000;

}  

.additional-boxes .project-box-2 {
width: 29%;
height: auto;
display: block;
float: left;
margin-right: 40px;
margin-bottom: 64px;
position: relative;
text-align: center;
background-color: #000;

}
.additional-boxes .project-box-3 {
width: 29%;
height: auto;
display: block;
float: left;
margin-right: 20px;
margin-bottom: 64px;
position: relative;
text-align: center;
background-color: #000;

}

/* ///////////////////////// FOOTER //////////////////////////////////////// 1300px */

   
    .footer .info {
    
      padding-top: 64px;
    }
    
    .footer .info .title{
    
    color: #424ECC;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    
    }
    
    .footer .info .Desc {
      margin: 0 40px 64px 40px;
      font-size: 22px;
  }
  
    .footer .info .button2 {
    
      width: 265px;
      font-size: 20px;
      padding: 14px;
    
    }
    
    .footer .info .Desc-time {
    
      font-size: 16px;
      line-height: 0;
    }
    
    .footer .info .social i{
    
      font-size: 28px;
      padding: 0 18px;
    }

    .footer .info .copyright{
    
      margin-top: 18px;
      margin-bottom: 9px;
      font-size: 14px;
    }

 
  }

/* //////////////////////////////////////////////  RESPONSIVE 995 ////////////////////////////////////////////////////////////// */

  
  @media  screen and (max-width:995px){
  
  /* NAVBAR */
  
  .navbar{
    display: none;
  }
  
  .navbar-mobile{
  
    display: inline-block;
    width: 100%;
    background-color: #FFFFFF;
  }
  
  .navbar-mobile .logo {
    
    width:28px;
    display: block;
    float: left;
    padding: 15px 15px;
   
  }
  
  
  .navbar-mobile .sidenav {
          
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;

  }
  
  .navbar-mobile .sidenav a {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.45s;
    text-align: center; 
    margin-top: 15px;
   
  
  }

   
  .navbar-mobile .sidenav a:hover {
    color: #424ECC;
  
  }
  
  .navbar-mobile .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 60px;
    margin-top: 0px;
    padding: 0px;
  }
  
  
  
  /* BUTTON MENU */
  
  .navbar-mobile .button1{
  
  
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px; 
    line-height:50px;
    display: inline-block;
    border-radius: 5px;
    background-color: #424ECC;
    border: none;
    margin-top: 10px;  
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    
  
  }
  
  .navbar-mobile .button1:hover {
    background-color: #424ECC;
    color: white;
    transform: scale(1.05);
  }
   

/* HERO */

.hero {
  
  width: initial;
  height: calc(100vh - 75px);

}

.hero .hero-center{

  width: 100%;
  height: calc(100vh - 75px);
  text-align: left;
 
 }

.hero .hero-center .info {

  width: initial;
  height: initial;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);

}

.hero .hero-center .info .tags{

    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 46px;

}

.hero .hero-center .info .Title{

  color: #141415;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;

}

.hero .hero-center .info .description1{

  font-weight: 300;
  font-size: 20px;

}



/*/////////////////// PHOTOSHOP INTRO ////////////////////////*/

.process .title2{
  
  line-height: 60px;
  font-size: 45px;
  padding-top: 45px;
}

.process .sub_titile2{

  font-size: 26px;
  line-height: 48px;
}

.process .intro {
  font-size: 18px;

}

.process .sub_titile{

  line-height: 52px;
}

/* BOXES  */

.boxes-icon{
  padding-top: 45px;
  padding-bottom: 45px;
}

.boxes-icon .all{
display: initial;
position:initial;
float: none;
margin-left: 0px;

}

.boxes-icon .all .card1{

  width: initial;
  height: initial;
  margin-left: 20px;
  margin-right: 20px; 
  margin-bottom: 32px;
}

.boxes-icon .all .card2{

  width: initial;
  height: initial;
  margin-left: 20px;
  margin-right: 20px; 
  margin-bottom: 32px;
}

.boxes-icon .all .card3{

  width: initial;
  height: initial;
  margin-left: 20px;
  margin-right: 20px; 
  margin-bottom: 0px;

}

.process .intro2 {

  font-size: 18px;

}

.process .button4{

  width: 250px;
  font-size: 20px;
  padding: 14px;
  margin-bottom: 64px;

}

/*/////////////////// PHOTOSHOP WORK ////////////////////////*/


.photoshop-work .title{

  font-size: 45px;
  padding-top: 45px;
  padding-bottom: 32px;
  line-height: 60px;

}


.boxes .photoshop1-box, .boxes .photoshop2-box, .boxes .photoshop3-box, .boxes .photoshop4-box, .boxes .photoshop5-box, .boxes .photoshop6-box, .boxes .photoshop7-box, .boxes .photoshop8-box, .boxes .photoshop9-box, .boxes .photoshop10-box, .boxes .photoshop11-box, .boxes .photoshop12-box, .boxes .photoshop13-box, .boxes .photoshop14-box, .boxes .photoshop15-box, .boxes .photoshop16-box, .boxes .photoshop17-box, .boxes .photoshop18-box, .boxes .photoshop19-box{

  display: none;
}


.photoshop-slider-mobile{
  display: block;
}


/* Slideeshow container */

.Slideeshow-container, .Slidee2show-container, .Slidee3show-container, .Slidee4show-container, .Slidee5show-container, .Slidee6show-container, .Slidee7show-container, .Slidee8show-container, .Slidee9show-container, .Slidee10show-container, .Slidee6show-container, .Slidee11show-container, .Slidee12show-container, .Slidee13show-container, .Slidee14show-container, .Slidee15show-container, .Slidee16show-container, .Slidee17show-container, .Slidee18show-container, .Slidee19show-container{
  display: inherit;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.Slideeshow-container .mySlidees, .Slidee2show-container .mySlidees2, .Slidee3show-container .mySlidees3, .Slidee4show-container .mySlidees4, .Slidee5show-container .mySlidees5, .Slidee6show-container .mySlidees6, .Slidee7show-container .mySlidees7, .Slidee8show-container .mySlidees8, .Slidee9show-container .mySlidees9, .Slidee10show-container .mySlidees10, .Slidee11show-container .mySlidees11, .Slidee12show-container .mySlidees12, .Slidee13show-container .mySlidees13, .Slidee14show-container .mySlidees14, .Slidee15show-container .mySlidees15, .Slidee16show-container .mySlidees16, .Slidee17show-container .mySlidees17, .Slidee18show-container .mySlidees18, .Slidee19show-container .mySlidees19{

  text-align: center;
  background-color: none;
  margin-left: 20px;
  margin-right: 20px;

}

.Slideeshow-container .mySlidees img, .Slidee2show-container .mySlidees2 img, .Slidee3show-container .mySlidees3 img, .Slidee4show-container .mySlidees4 img, .Slidee5show-container .mySlidees5 img, .Slidee6show-container .mySlidees6 img, .Slidee7show-container .mySlidees7 img, .Slidee8show-container .mySlidees8 img, .Slidee9show-container .mySlidees9 img, .Slidee10show-container .mySlidees10 img, .Slidee11show-container .mySlidees11 img, .Slidee12show-container .mySlidees12 img, .Slidee13show-container .mySlidees13 img, .Slidee14show-container .mySlidees14 img, .Slidee15show-container .mySlidees15 img, .Slidee16show-container .mySlidees16 img, .Slidee17show-container .mySlidees17 img, .Slidee18show-container .mySlidees18 img, .Slidee19show-container .mySlidees19 img{

  border-radius: 5px;

}


/* Next & previous buttons */

.prevv, .nextt, .prevv2, .nextt2, .prevv3, .nextt3, .prevv4, .nextt4, .prevv5, .nextt5, .prevv6, .nextt6, .prevv7, .nextt7, .prevv8, .nextt8, .prevv9, .nextt9, .prevv10, .nextt10, .prevv11, .nextt11, .prevv12, .nextt12, .prevv13, .nextt13, .prevv14, .nextt14, .prevv15, .nextt15, .prevv16, .nextt16, .prevv17, .nextt17, .prevv18, .nextt18, .prevv19, .nextt19{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #8c8d96;
  background: #bbbbbb1f;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.nextt, .nextt2, .nextt3, .nextt4, .nextt5, .nextt6, .nextt7, .nextt8, .nextt9, .nextt10, .nextt11, .nextt12, .nextt13, .nextt14, .nextt15, .nextt16, .nextt17, .nextt18, .nextt19 {
right: 0;
border-radius: 3px 0 0 3px;

}

/* On hover, add a black background color with a little bit see-through */
.prevv:hover, .nextt:hover, .prevv2:hover, .nextt2:hover, .prevv3:hover, .nextt3:hover, .prevv4:hover, .nextt4:hover, .prevv5:hover, .nextt5:hover, .prevv6:hover, .nextt6:hover, .prevv7:hover, .nextt7:hover, .prevv8:hover, .nextt8:hover, .prevv9:hover, .nextt9:hover, .prevv10:hover, .nextt10:hover, .prevv11:hover, .nextt11:hover, .prevv12:hover, .nextt12:hover, .prevv13:hover, .nextt13:hover, .prevv14:hover, .nextt14:hover, .prevv15:hover, .nextt15:hover, .prevv16:hover, .nextt16:hover, .prevv17:hover, .nextt17:hover, .prevv18:hover, .nextt18:hover, .prevv19:hover, .nextt19:hover{
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dott, .dott2, .dott3, .dott4, .dott5, .dott6, .dott7, .dott8, .dott9, .dott10, .dott11, .dott12, .dott13, .dott14, .dott15, .dott16, .dott17, .dott18, .dott19{

  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  margin-bottom: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dott:hover, .dott2:hover, .dott3:hover, .dott4:hover, .dott5:hover, .dott6:hover, .dott7:hover, .dott8:hover, .dott9:hover, .dott10:hover, .dott11:hover, .dott12:hover, .dott13:hover, .dott14:hover, .dott15:hover, .dott16:hover, .dott17:hover, .dott18:hover, .dott19:hover{

  background-color: #717171;

}


/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prevv:hover, .nextt, .textt {font-size: 11px}
}



/* ///////////////// OTHER CASE STUDIES //////////////////// */


/* Additional-boxes */

.additional-boxes {

  padding-bottom:45px;
  font-size: 18px;

}
.additional-work .title-work{

  font-size: 45px;
  line-height: 60px;
  padding-bottom: 45px;
  padding-top: 45px;
}


.additional-boxes .project-box, .additional-boxes .project-box-2, .additional-boxes .project-box-3 {

  display: none;

}

.Slide2show-container {
  display: inherit;
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.Slide2show-container .mySlide2s{

  text-align: center;
  background-color: none;
  margin-left: 20px;
  margin-right: 20px;

}


.Slide2show-container .mySlide2s img{

  border-radius: 5px;

}


/* Next & previous buttons */

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  /* padding: 12px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #8c8d96;
  background: #bbbbbb1f;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot2 {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 3px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot2:hover {
background-color: #717171;

}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev2, .next2,.text2 {font-size: 11px}
}


  .footer .info {
  
    padding-top: 45px;
  }
  
  .footer .info .title{
  
  color: #424ECC;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  
  }
  
  .footer .info .Desc{
  
    margin: 0 20px 45px 20px;
    font-size: 20px;
  }
  .footer .info .button2 {
  
    width: 265px;
    font-size: 20px;
    padding: 14px;
  
  }
  
  .footer .info .Desc-time {
  
    font-size: 16px;
    line-height: 0;
  }
  
  .footer .info .social i{
  
    font-size: 28px;
    padding: 0 18px;
  }
  .footer .info .copyright{
  
    margin-top: 18px;
    margin-bottom: 9px;
    font-size: 14px;
  }

 
}
  
  
  
  
  
  
  
  
  